.block-3 {
  height: 380px;
  background-image: url(/acs/Layer22@1X.png);
  font-family: Roboto, sans-serif;
  text-align: center;
}

.block-3-line {
  padding-top: 150px;
  padding-bottom: 60px;
  font-size: 22px;
}

.white-span {
  color: white;
}

.yellow-span {
  color: yellow;
}
