.block-1 {
  height: 900px;
  background-image: url(/acs/Layer21@1X.png);
  color: white;
  font-family: Roboto, sans-serif;
}

.block-1-text-1 {
  font-size: 48px;
  padding-left: 215px;
  padding-top: 525px;
}

.block-1-text-2 {
  font-size: 17px;
  padding-left: 215px;
}

.block-1-bord {
  width: 48%;
  margin-left: 216px;
  margin-top: 28px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 35px 40px 40px 38px;
}

.block-1-text-3 {
  font-size: 54px;
  color: #f1ad1d;
  padding-right: 50px;
}

.block-1-text-4 {
  font-size: 54px;
}
