.block-2 {
  width: 1578px;
  margin-left: 22px;
  /* height: 873px; */
  text-align: center;
  background-color: white; /* - ???? */
  font-family: Roboto, sans-serif;
}

.block-2-text-1-3 {
  font-size: 22px;
  text-align: center;
  color: black;
}

.block-2-text-2-4 {
  font-size: 17px;
  text-align: center;
  color: black;
}

.shortLine {
  margin-inline-start: 758px;
  margin-inline-end: 760px;
  border-width: 2px;
  border-color: #f1ad1d;
}

.block-2-img-1 {
}

.block-2-logo {
}

.longLine {
  border-color: #f1ad1d;
  border-width: 2px;
}
