.general-container {
  width: 1600px;
}

* {
  margin: 0;
  padding: 0;
}

.new-content {
  background-image: url(/acs/Layer_59@1X.png);
  height: 380px;
}

#Myh2 {
  font-family: Montserrat-Bold, OpenSans, MyriadPro-Regular, AdobeInvisFont;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
  color: white;
  text-transform: uppercase;
}
.orange {
  color: orange;
}

.line {
  margin-inline-start: 758px;
  margin-inline-end: 760px;
  border-width: 2px;
  border-color: #f1ad1d;
}
#MyParag {
  font-family: Montserrat-Bold, OpenSans, MyriadPro-Regular, AdobeInvisFont;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
  color: white;
}
